.box-table {
  display: table;
  width: 100%;
  text-align: center;
  border-collapse: collapse;

  .box-row-4 {
    display: table-row;
    height: calc(400px / 12) !important;
    border-bottom: 1px solid var(--white-custom-2);
  }

  .box-row-7 {
    display: table-row;
    height: calc(400px / 6.5) !important;
    border-bottom: 1px solid var(--white-custom-2);
  }
  .box-row-7:last-of-type {
    display: table-row;
    height: calc(400px / 6.5) !important;
    border-bottom: none;
  }

  .box-row-8 {
    display: table-row;
    height: calc((375px - 100vw * 34 / 1080) / 10) !important;
    border-bottom: 1px solid var(--white-custom-2);
  }
  .box-row-8:last-of-type {
    display: table-row;
    height: calc((375px - 100vw * 34 / 1080) / 10) !important;
    border-bottom: none;
  }

  .col-4 {
    display: table-cell;
    vertical-align: middle;
    word-break: break-all;
    width: 25%;
  }

  .col-7 {
    display: table-cell;
    vertical-align: middle;
    word-break: break-all;
    width: calc(100% / 7);
  }

  .col-8 {
    display: table-cell;
    vertical-align: middle;
    word-break: break-all;
    width: calc(100% / 8);
  }

  .left {
    border-right: 1px solid var(--white-custom-2);
  }

  .last {
  }

  .inside-cell {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .dot-green {
    margin-right: 10px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--light-green-custom);
  }
  .dot-yellow {
    margin-right: 10px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--yellow-custom);
  }
  .dot-red {
    margin-right: 10px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--light-red-custom);
  }
}
