.box-table {
  display: table;
  width: 100%;
  text-align: center;
  border-collapse: collapse;

  .box-row {
    display: table-row;
    height: 41px !important;
    border-bottom: 1px solid var(--white-custom-2);

    div {
      display: table-cell;
      vertical-align: middle;
      word-break: break-all;
      width: 25%;
    }

    .left {
      border-right: 1px solid var(--white-custom-2);
    }

    .last {

    }
  }
}

