.slider-div {
  padding: calc(100vh * 40 / 1080) 0 calc(100vh * 40 / 1080) calc(100vw * 106 / 1920) !important;

  .setting-head {
    background-color: var(--black-custom-default);
    width: 100%;
    height: calc(100vw * 28 / 1080);
    border: 1px solid var(--white-custom-2);
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 3fr 1fr;

    .arrow-left-div {
      border-right: 1px solid var(--white-custom-2);
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
    .title-div {
      border-right: 1px solid var(--white-custom-2);
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      cursor: pointer;
    }
    .title-div-active {
      background-color: var(--dark-grey-custom-2);
      border-right: 1px solid var(--white-custom-2);
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      cursor: pointer;
    }
    .arrow-right-div {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
    .inner-div {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
    .inner-img-div {
      cursor: pointer;
      background-color: var(--dark-grey-custom-2);
      height: 60%;
      width: 80%;
      border-radius: 2px;
      border: 1px solid var(--white-custom-2);
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
    .inner-img-div:hover {
      background-color: var(--dark-grey-custom-3);
    }
  }

  .setting-content {
    background-color: var(--black-custom-transparence);
    width: 100%;
    margin-top: calc(100vw * 5.6 / 1080);
    border: 1px solid var(--white-custom-2);
    border-radius: 4px;
  }

  .setting-content-show-slider {
    //background-color: var(--black-custom-transparence);
    width: 100%;
    margin-top: calc(100vw * 5.6 / 1080);
  }
}
