.system-setting {
  width: 100%;
  display: grid;
  grid-template-columns: calc(100% - 100vw * 106 / 1920) calc(100vw * 106 / 1920);

  .system-setting-side {
    height: 100%;
    padding-top: calc(100vh * 42 / 1080) !important;
    padding-bottom: calc(100vh * 40 / 1080) !important;
    padding-left: calc(100vw * 12 / 1920) !important;

    .top-button {
      background-color: var(--black-custom-default);
      height: calc(100vw * 28 / 1080);
      width: calc(100vw * 28 / 1080);
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0.95px solid var(--white-custom-2);
      border-radius: 4px;
      cursor: pointer;
    }
    .top-button-1 {
      background-color: var(--black-custom-default);
      height: calc(100vw * 28 / 1080);
      width: calc(100vw * 28 / 1080);
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0.95px solid var(--white-custom-2);
      border-radius: 4px;
      cursor: pointer;
      margin-top: calc(100vw * 7 / 1080);
    }
  }
}



