.teacher-see-student-detail {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: var(--black-custom-transparence);
  border: 1px solid var(--white-custom-2);
  border-radius: 4px;

  .student-detail {
    width: 94%;
    height: 100%;
    display: grid;
    grid-template-rows: 1.3fr 3fr 1.3fr;

    .row1 {
    }

    .row2 {
      display: grid;
      grid-template-columns: 2.3fr 1.5fr 1.5fr 1fr 1.2fr;

      .col1 {
        border-right: 1px solid var(--white-custom-2);
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        align-items: center;

        .avatar-div {
          padding-right: 10px;
          padding-bottom: 20px;
          height: 90%;
          width: 100%;
          display: grid;

          .avatar-img {
            height: 100%;
            width: 100%;
            background-position: center;
            background-size: cover;
            background-color: var(--dark-grey-custom-3);
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .avatar-text {
            margin-top: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            .avatar-span-text {
              border-bottom: 1px solid var(--white-custom-2);
            }
          }
        }

        .info-div {
          padding: 0 15px;
        }
      }
      .col2 {
        border-right: 1px solid var(--white-custom-2);
        padding: 0 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .col3 {
        border-right: 1px solid var(--white-custom-2);
        padding: 0 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .col3-inside-div {
          padding: 0 15px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
        }

        .detail-button {
          margin: 5px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }
      .col4 {
        border-right: 1px solid var(--white-custom-2);
        padding: 0 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .col5 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 15px;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 2.5fr 1fr;

        .upload-img-div {
          height: 100%;
          .avatar-img {
            width: 150px;
            height: 150px;
            background-color: var(--dark-grey-custom-3);
            display: flex;
            justify-content: center;
            align-items: center;

            .avatar-uploader-icon {
              font-size: xx-large;
            }
          }

          .upload-bottom {
            background-color: var(--dark-grey-custom);
          }
        }

        .avatar-text {
          margin-top: 4px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .avatar-span-dot {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
          }
        }
      }
    }

    .row3 {
    }

    .detail-form {
      font-size: 0.9rem;
      .form-span {
        color: var(--light-grey-custom);
      }

      .el-input__inner {
        height: 22px;
      }

      .el-form-item {
        margin-bottom: 16px;
        font-size: 0.9rem !important;
      }

      .el-form-item__label {
        padding: 0 4px 0 0 !important;
      }

      .el-form-item__label-wrap {
        height: 24px;
        float: left;
        text-align: start;
        margin-left: 0 !important;
      }

      .el-form-item__content {
        height: 24px;
        line-height: 24px;
        font-size: 0.9rem;
      }

      .el-form-item__content .el-input {
        height: 22px;
        border: 1px solid var(--white-custom-2);
      }

      .el-form-item__content .el-input.is-disabled .el-input__wrapper {
        box-shadow: none !important;
        background-color: transparent;
      }

      .no-border-number {
        .el-form-item__content .el-input {
          border: none;
        }
      }

      .div-required::before {
        content: '*';
        color: var(--light-red-custom);
        margin-right: 8px;
        margin-top: 3px;
      }

      .div-no-required::before {
        content: '*';
        visibility: hidden;
        margin-right: 8px;
        margin-top: 3px;
      }
    }

    .dot-purple {
      margin-right: 5px;
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--light-purple);
    }

    .dot-green {
      margin-right: 5px;
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--light-green-custom);
    }
  }
}
