.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20%;
  height: 40%;

  .el-input .el-input__icon {
    color: var(--light-grey-custom) !important;
    cursor: pointer !important;
  }

  .campus-form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    border: 1px solid var(--white-custom-2);
    border-radius: 6px;
    background-color: var(--white-custom-4);
  }
  .campus-info {
    width: 84%;
    margin: 20px 0;
    color: var(--white-custom-2);
  }
  .campus-info .top-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30px;
    margin-top: 20px;
    background-color: var(--black-custom-transparence) !important;
    border: 1px solid var(--white-custom-2);
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    .el-input__inner {
      height: 30px;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
  }
  .campus-info .bottom-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30px;
    background-color: var(--black-custom-transparence) !important;
    border: 1px solid var(--white-custom-2);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .campus-info .button-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 28px;
    margin-top: 20px;
    .left-arrow {
      width: 38%;
      height: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      border: 1px solid var(--white-custom-2);
      border-radius: 3px;
      background-color: var(--black-custom-transparence) !important;
      cursor: pointer;
    }
    .right-arrow {
      width: 35%;
      height: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      border: 1px solid var(--white-custom-2);
      border-radius: 3px;
      background-color: var(--black-custom-transparence) !important;
      cursor: pointer;
    }
  }
  .campus-button-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 15px;
    .el-button {
      width: 130px;
    }
  }
}
