.system-setting {
  width: 100%;
  display: grid;
  grid-template-columns: calc(100% - 100vw * 106 / 1920) calc(
      100vw * 106 / 1920
    );

  .setting-content {
    background-color: var(--black-custom-transparence);
    width: 100%;
    margin-top: calc(100vw * 5.6 / 1080);
    border: 1px solid var(--white-custom-2);
    border-radius: 4px;
  }

  .setting-content-show-slider {
    //background-color: var(--black-custom-transparence);
    width: 100%;
    margin-top: calc(100vw * 5.6 / 1080);
  }
}
